.boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #e8c39e;
    color: whitesmoke;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover {
    background-color: #f5e1c8;
}

.operador:hover {
    background-color: #666666;
}

.operador {
    background-color:#8c8c8c;
}

